html, body {
      height: 100%;
      margin: 0;
	  display: flex;
	  flex-direction: column;
    }

/* Centrer le contenu dans un conteneur */
    .content {
      text-align: center; /* Centrer le texte à l'intérieur du div */
    }
	
	.main-content {
  flex: 1;
} 

    .image-container {
    text-align: center;
}
	
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    background-image: url('images/p_blue_pluton.png'); /* Définir l'image de fond */
    background-size: cover; /* Faire en sorte que l'image couvre tout l'écran */
    background-position: center center; /* Centrer l'image de fond */
    background-attachment: fixed; /* Garder l'image fixe lors du défilement */
    color: white; /* Pour que le texte soit visible sur le fond */
	
}

header {
    background-color: rgba(0, 0, 0, 0.5); /* Un léger fond noir transparent pour que le texte soit lisible */
    color: white;
    padding: 10px 0;
    text-align: center;
	position: relative;
}

nav ul {
    list-style-type: none;
    padding: 0;
    display: inline-block;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

nav ul li a:hover {
    color: #90caf9; /* Couleur au survol */
}

section {
    padding: 20px;
    margin: 20px;
    background-color: rgba(0, 0, 0, 0.6); /* Un fond légèrement transparent pour améliorer la lisibilité */
    border-radius: 8px;
}

footer {
    background-color: #000000;
    color: white;
    text-align: center;
    padding: 10px;
	width: 100%
	font-family: 'Arial', sans-serif; /* Exemple de modification de la police */
    font-size: 15px; /* Optionnel : Modifier la taille de la police */
    color: #333; /* Optionnel : Modifier la couleur de la police */
}

