html, body {
    height: 100%;
    margin: 0;
	display: flex;
    flex-direction: column;
	}

.main-content {
  flex: 1;
} 

.image-container {
    text-align: center;
}

img {
    max-width: 100%;
    height: auto;
	margin: 10px; /* Ajoute 10px d'espace autour de chaque image */
        }

    @font-face {
    font-family: 'Braggadocio';
    src: url('fonts/braggadocio.woff2') format('woff2'),
         url('fonts/braggadocio.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

.logo h1 {
    font-family: 'Braggadocio', cursive; /* ou une autre police comme 'Arial', 'Roboto', etc. */
    font-size: 3em; /* ajuste selon ta préférence */
    font-weight: bold;
    text-transform: uppercase;
    color: white; /* facultatif, pour la couleur */
    margin: 0;
    padding: 0.5em 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    background-image: url('images/p_blue_pluton.png'); /* Définir l'image de fond */
    background-size: cover; /* Faire en sorte que l'image couvre tout l'écran */
    background-position: center center; /* Centrer l'image de fond */
    background-attachment: fixed; /* Garder l'image fixe lors du défilement */
    color: white; /* Pour que le texte soit visible sur le fond */
}

header {
    font-size: 18px; /* <-- Ajouté ici pour réduire la taille de la police */
    background-color: rgba(0, 0, 0, 0.5); /* Un léger fond noir transparent pour que le texte soit lisible */
    color: white;
    padding: 10px 0;
    text-align: center;
	position: relative;
}

nav ul {
    list-style-type: none;
    padding: 0;
    display: inline-block;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

nav ul li a:hover {
    color: #90caf9; /* Couleur au survol */
}
/* Style pour le menu déroulant */
ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}
/* Position relative pour les éléments qui contiennent des sous-menus */
li {
    position: relative;
}
/* Cacher le sous-menu par défaut */
.dropdown-content {
    display: none;
    position: absolute;
    top: 120%; /* Positionner le sous-menu directement sous l'élément parent */
    left: 0; /* Aligner à gauche de l'élément parent */
    min-width: 200px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
	margin-top: 0px; /* Assurez-vous qu'il n'y a pas de marge qui le décale */  
    background-color: rgba(0, 0, 0, 0.5); /* Un léger fond noir transparent pour que le texte soit lisible */	
}
/* Disposer les éléments du sous-menu verticalement */
.dropdown-content li {
    padding: 3px 0px;
    display: block; /* Utilisez block pour les éléments verticaux */
	text-align: left;  /* Aligner le contenu à droite */
}

.dropdown-content li a {
    color: white;
    text-decoration: none;
}
/* Afficher le sous-menu lorsque l'on survole "Projets" */
.dropdown:hover .dropdown-content {
    display: block;
}
/* Style pour le lien "Projets" */
.dropbtn {
    cursor: pointer;
	padding: 10px 15px;
}

section {
    padding: 20px;
    margin: 20px;
    background-color: rgba(0, 0, 0, 0.6); /* Un fond légèrement transparent pour améliorer la lisibilité */
    border-radius: 8px;
}

footer {
    font-family: 'Arial', sans-serif; /* Exemple de modification de la police */
    font-size: 15px; /* Optionnel : Modifier la taille de la police */
    color: #333; /* Optionnel : Modifier la couleur de la police */
    background-color: #000000;
    text-align: center;
    padding: 10px;
	width: 100%
}